git+https://github.com/pyrogram/pyrogram@master
tgcrypto
youtube-search
yt-dlp
py-tgcalls==0.8.1
python-dotenv
requests
aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
future
psutil
wget
motor
dnspython
heroku3
gitpython
