git+https://github.com/pyrogram/pyrogram@master
tgcrypto
py-tgcalls
python-dotenv
youtube-search-python
requests
aiohttp
aiofiles
asyncio
youtube-search
Pillow
future
psutil
wget
ffmpeg-python
yt-dlp
heroku3
motor
dnspython
